* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #E74C3C;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #E74C3C;
  border-radius: 0.75rem;
}

body {
  background: #282828;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

img {
  max-width: 100%;
  margin: 0;
  height: auto;
}

.section {
  padding: 6rem 0 6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 10px 0;
}
.header__header-main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 15px 0;
}
.header__logo-text {
  position: relative;
  display: flex;
  font-size: 2em;
}
.header__logo-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.75rem;
  background: white;
}
.header__header-item {
  display: inline-block;
  margin: 0 1rem;
}
.header__header-link {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 570;
}
.header__header-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.25rem;
  border-radius: 0.75rem;
  margin: 0 auto;
  background: white;
  transition: all 0.5s;
}
.header__header-link:hover::after {
  width: 100%;
}
.header__header-humbger {
  display: none;
}
@media screen and (max-width: 876px) {
  .header__header-list {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
  }
  .header__header-list.active {
    left: 0;
  }
  .header__header-list .header__header-link {
    margin: 0 0 24px;
    font-size: 22px;
  }
  .header__header-humbger {
    position: absolute;
    display: block;
    right: 2rem;
    width: 35px;
    height: 35px;
    z-index: 6;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .header__header-humbger .header__header-bar, .header__header-humbger::before, .header__header-humbger::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: 6px 0;
    background: white;
    transition: all 0.5s;
  }
  .header__header-humbger.active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .header__header-humbger.active::after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .header__header-humbger.active .header__header-bar {
    opacity: 0;
  }
  .header__logo-text {
    left: 2rem;
  }
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  top: -110%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #E74C3C;
  transition: all 0.5s;
}

.header.active::before {
  top: 0;
}

.header .header__header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  padding: 4rem 0 0;
}
.home__home-main {
  display: flex;
  align-items: center;
  max-width: 95%;
  width: 1027px;
  margin: 0 auto;
  padding: 15px;
}
.home__home-text {
  position: relative;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.home__home-text img {
  max-width: 240px;
}
.home__home-text h2 {
  font-size: 2em;
  margin: 0 0 12px;
}
.home__home-text p {
  font-size: 16px;
  margin: 0 0 12px;
}
.home__home-btn {
  display: inline-block;
  width: 150px;
  height: 45px;
  margin: 0 8px;
  padding: 6px;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 500;
  background: #E74C3C;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}
.home__home-btn:hover {
  transform: scale(1.1);
  background: white;
  color: #282828;
}
@media screen and (max-width: 876px) {
  .home__home-btn {
    display: block;
    left: 0;
    margin: 0 0 12px;
  }
}

.footer {
  background: #2c2c2c;
  max-width: 100%;
  padding: 70px 0;
}
.footer__footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__footer-box h2 {
  position: relative;
  width: 35%;
  font-size: 35px;
}
.footer__footer-box h2::after, .footer__footer-box h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 0.75rem;
  background: white;
}
.footer__footer-box h3 {
  position: relative;
  font-size: 22px;
}
.footer__footer-box h3::after {
  width: 25%;
}
.footer__footer-box {
  margin: 0 30px;
  width: 40%;
}
.footer__footer-box ul {
  padding: 24px 0 0;
}
.footer__footer-box ul li a {
  display: block;
  padding: 0 0 5px;
  color: white;
}
.footer__footer-box ul li a:hover {
  text-decoration: underline;
}
.footer__footer-social li {
  display: inline-block;
  margin: 0 0.25rem 0.35rem;
}
.footer__footer-social li a {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  width: 32px;
  height: 32px;
  padding: 45px;
  border-radius: 2rem;
  background: #E74C3C;
}
@media screen and (max-width: 976px) {
  .footer__footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer__footer-box {
    margin-bottom: 35px;
  }
}

/*# sourceMappingURL=styles.css.map */
